body {
  margin: 50px;
}

.create {
  margin-bottom: 20px;
}

.info, .videos, .hosts {
  width: 600px;
}

.images {
  width: 800px;
}

.nav-tabs li {
  cursor: pointer;
}

.tab-pane {
  padding-top: 20px;
}

textarea.form-control {
  height: 200px;
}

.back-link,
.go-to-link {
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 20px;
}

.hosts img {
  width: 80px;
}

.images img {
  width: 200px;
}

.image {
  display: inline-block;
  margin-right: 50px;
  margin-bottom: 50px;
  position: relative;
}

.image button {
  position: absolute;
  height: 24px;
  width: 24px;
  background: image_url('cross.png') no-repeat;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
}

.videos, .hosts, .images {
  margin-bottom: 20px;
}

.videos {
  .form-group {
    width: 50%;
    display: inline-block;
  }

  button {
    margin-left: 30px;
    display: inline-block;
  }
}

.ta-editor {
  min-height: 300px;
  height: auto;
  overflow: auto;
  font-family: inherit;
  font-size: 100%;
  margin: 20px 0;
  line-height: 1.5;
  padding: 15px;

  ul, ol {
    margin-bottom: 10px;
    list-style-position: inside;
  }

  ul {
    list-style-type: circle;
  }

  ol {
    list-style-type: decimal;
  }
}

.quickdate.form-control {
  border: none;
  box-shadow: none;
  padding-left: 0;
}

.save {
  margin-right: 20px;
}