.gallery {
  background: image_url('test.jpg') no-repeat center center $color-green;     
  @include background-size(cover);
  overflow: hidden;
  position: relative;
  @include respond-to(iphone) {
    height: 400px;
  }
  img { display: block; }
  .arrowRight, .arrowLeft {
    cursor: pointer;
    position: absolute;
    z-index: 2;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    &:hover { opacity: .6; }
  }
  .arrowRight {
    @include rotate(90deg);
    left: 30px;
    @include respond-to(iphone) {
      left: 0;
      -webkit-transform: rotate(90deg) scale(0.6);
      transform: rotate(90deg) scale(0.6);
    }
  }
  .arrowLeft {
    @include rotate(-90deg);
    right: 30px;
    @include respond-to(iphone) {
      right: 0;
      -webkit-transform: rotate(-90deg) scale(0.6);
      transform: rotate(-90deg) scale(0.6);
    }
  }
}