.instagram-wrapper {

  header {
    max-width: 980px;
    margin: 0 auto;
    margin-top: 160px;
    margin-bottom: $margin*2;

    @include respond-to(iphone) {
      padding: 0 $padding/2;
    }
  }

  .feed {
    @include clearfix();
    position: relative;
    z-index: 1;
  }

  .feed-image {
    float: left;
    width: 20%;

    @include respond-to(iphone) {
      width: 50%;
    }

    a {
      display: block;
    }

    img {
      vertical-align: top;
      width: 100%;
    }
  }
}
