.disable-hover,
.disable-hover * {
  pointer-events: none !important;
}

.fb, .tw, .vk, .in, .vm {
  display: inline-block;
  padding: 0 $padding/2;
  font-size: 1.2em;
  text-decoration: none;
}

.columns {
  max-width: 980px;
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
  opacity: .1;
  .column {
    border-right: 1px solid $color-black;
    width: 25%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    &:first-child { border-left: 1px solid $color-black; }
  }
}

.white .column {
  border-right: 1px solid white;
  &:first-child { border-left: 1px solid white; }
}

.footer {
  background: $color-green;
  position: relative;
  padding: 100px 0;
  .wrapper {
    position: relative;
    margin: 0 auto;
    max-width: 980px;
    z-index: 999;
  }
  h1 { 
    margin-bottom: $margin;
    @include respond-to(tabletvertical) {
      padding-left: $padding/2;
    }
  }
  p {
    font-size: 2em;
    margin-bottom: $margin;
    line-height: 1.4;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    @include respond-to(tabletvertical) {
      padding-left: $padding/2;
    }
    .more { 
      margin-left: $margin/3;
    }
    .phone, .email {
      margin-left: $margin/3;
    }
    &.block { margin-bottom: $margin/3; }
  }
  .social { 
    text-align: center; 
    margin-bottom: 0; 
  }
}

.partners {
  position: relative;
  background: $color-green;
  .wrapper {
    margin: 0 auto;
    max-width: 980px;
    padding-top: 100px;
    position: relative;
    z-index: 999;
  }
  h1 {
    margin-bottom: $margin*2;
    @include respond-to(tabletvertical) {
      padding-left: $padding/2;
    }
  }
  .logo {
    display: inline-block;
    vertical-align: middle;
    width: 25%;
    text-align: center;
    position: relative;
    z-index: 1;
    &:hover { opacity: .8; }
  }
  .fm img { width: 100px; }
  .nl img { width: 172px; }
  .tnp img { width: 62px; }
  .fl img { width: 80px; }
}

.imageAccommodation {
  position: relative;
}

.slogan {
  position: absolute;
  max-width: 980px;
  z-index: 99;
  top: 50%; left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  margin: 0 auto;
  padding: 0 5%;
  width: 100%;
  font-size: 3.2em;
  text-align: center;
  color: white;
  @include respond-to(tabletvertical) {
    padding-left: $padding/2;
  }
}

.trigger {
  position: absolute;
  z-index: 3;
  bottom: 5%;
  left: 50%;
  margin-left: -32px;
  cursor: pointer;
  @include animation(arrow 1200ms infinite);
  img { @include animation(arrow-appereance 1200ms); }
}

.intro {
  position: relative;
  width: 100%;
  background: $color-green;
  overflow: hidden;
  height: 100%;
  top: 0;
}

video, object {
  top:0; bottom: 0; right: 0;
  position: absolute;
  left: 50%;
  display: block;
  @include translateX(-50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  // opacity: .8;
}