.headroom {
  position: fixed;
  width: 100%;
  left: 0; right: 0; top: 0;
  z-index: 3;
  &.headroom--top {
    .navigation {
      @include translateY(0%);
      opacity: 1;
      background: transparent!important;
    }
  }
  &.headroom--not-top {
    .navigation {
      opacity: 0;
      @include translateY(-100%);
    }
  }
  &.headroom--unpinned {
    .navigation {
      @include transition(transform 0.3s);
      background: $color-green;
      opacity: 0;
      @include translateY(-100%);
    }
  }
  &.headroom--pinned {
    .navigation {
      @include translateY(0%);
      background: $color-green;
      opacity: 1;
    }
  }
  .menu {
    @include transition(all 0.3s);
    height: 0px;
    overflow: hidden;
    background: $color-green;
    position: fixed;
    opacity: 1;
    top: 0; right: 0; bottom: 0; left: 0;
    @include transition(all 0.6s);
    ul {
      @include transition(all 0.8s);
      opacity: 0;
      @include translateY(-400%);
      text-align: center;
      position: absolute;
      top: 10%;
      width: 100%;
      font-size: 2em;
      font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue Bold", Helvetica, Arial, "Lucida Grande", sans-serif; 
      font-weight: 900;
      li {
        border-bottom: 4px solid $color-black;
        padding: $padding 0;
        cursor: pointer;
        &:hover { color: $color-red; }
        &:last-child { border-bottom: 0; }
      }
    }
  }
  .navigation {
    @include transition(transform 0.6s);
    @include translateY(-400%);
    padding: $padding;
    z-index: 9999;
    position: absolute;
    left: 0;
    right: 0;
    @include respond-to(tablet) {
      padding: $padding 23px;
    }
  }
  .logo {
    float: left;
    cursor: pointer;
  }
  .menuButton {
    padding-top: 7px;
    cursor: pointer;
    width: 40px;
    float: right;
    .menuButtonBar {
      @include transition-timing-function(cubic-bezier(0.25, 0.46, 0.45, 0.94));
      @include transition-duration(150ms);
      @include transition-property(all, -webkit-transform);
      width: 40px;
      height: 4px;
      display: block;
      background-color: white;
      margin: 6px 0;
    }
  }
  &.opened {
    .navigation { background: transparent; }
    .menu {
      height: 100%;
      ul { @include translateY(0%); opacity: 1; }
    }
    .menuButtonBar { width: 37px; }
    .menuButtonBar:nth-child(1) {
      @include transform-origin(4px 0px 0);
      @include rotate(45deg);
    }
    .menuButtonBar:nth-child(2) {
      opacity: 0;
    }
    .menuButtonBar:nth-child(3) {
      @include transform-origin(4px 2px 0);
      @include rotate(-45deg);
    }
    &.headroom--pinned {
      .navigation {
        @include translateY(0%);
      }
    }
    &.headroom--top {
      .navigation {
        @include translateY(0%);
      }
    }
    &.headroom--unpinned {
      .navigation {
        @include translateY(0%);
        opacity: 1;
      }
    }
  }
}