.headroom {
  position: fixed;
  width: 100%;
  left: 0; right: 0; top: 0;
  z-index: 1;
  &.headroom--top {
    .navigation {
      @include translateY(0%);
      opacity: 1;
      background: transparent!important;
    }
  }
  &.headroom--not-top {
    z-index: 3;
    .navigation {
      opacity: 0;
      @include translateY(-100%);
    }
  }
  &.headroom--unpinned {
    .navigation {
      @include transition(transform 0.3s);
      background: $color-green;
      opacity: 0;
      @include translateY(-100%);
    }
  }
  &.headroom--pinned {
    .navigation {
      @include translateY(0%);
      background: $color-green;
      opacity: 1;
    }
  }
  .menu { 
    height: 0px;
    background: $color-green;
    position: fixed;
    opacity: 1;
    top: 0; right: 0; bottom: 0; left: 0;
    @include transition(all 0.6s);
  }
  .navigation {
    @include transition(transform 0.6s);
    @include translateY(-400%);
    padding: $padding;
    z-index: 9999;
    position: absolute;
    left: 0;
    right: 0;
    @include respond-to(tablet) {
      padding: $padding 23px;
    }
  }
  .logo {
    float: left;
    cursor: pointer;
  }
  .menuButton {
    padding-top: 7px;
    cursor: pointer;
    width: 40px;
    float: right;
    .menuButtonBar {
      @include transition-timing-function(cubic-bezier(0.25, 0.46, 0.45, 0.94));
      @include transition-duration(150ms);
      @include transition-property(all, -webkit-transform);
      width: 40px;
      height: 4px;
      display: block;
      background-color: white;
      margin: 6px 0;
    }
  }
  &.opened {
    .menu {
      height: 100%;
    }
    .menuButtonBar { width: 37px; }
    .menuButtonBar:nth-child(1) {
      @include transform-origin(4px 0px 0);
      @include rotate(45deg);
    }
    .menuButtonBar:nth-child(2) {
      opacity: 0;
    }
    .menuButtonBar:nth-child(3) {
      @include transform-origin(4px 2px 0);
      @include rotate(-45deg);
    }
    // &.headroom--pinned {
    //   .navigation {
    //     @include translateY(0%);
    //     background: transparent;
    //   }
    // }
    // &.headroom--top {
    //   .navigation {
    //     @include translateY(0%);
    //     background: transparent;
    //   }
    // }
    // &.headroom--unpinned {
    //   .navigation {
    //     @include translateY(0%);
    //     background: transparent;
    //   }
    // }
  }
}