@mixin respond-to($media) {
  @if $media == tablet {
    @media only screen and (max-width: $break-tablet) {@content; }
  }
  // @else if $media == tabletvertical {
  //   @media only screen and (max-width: $break-tablet - 1) {@content; }
  // }
  @else if $media == iphone {
    @media only screen and (max-width: $break-tablet - 1) {@content; }
  }
}

@mixin keyframes( $animationName ) {
  @-webkit-keyframes $animationName {
    @content;
  }
  @-moz-keyframes $animationName {
    @content;
  }
  @-o-keyframes $animationName {
    @content;
  }
  @keyframes $animationName {
    @content;
  }
  @-ms-keyframes  $animationName {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  animation: #{$str};
}

@include keyframes(arrow) {
  0%      { @include translateY(0px); @include opacity(1); }
  50%     { @include translateY(10px); @include opacity(.5); }
  100%    { @include translateY(0px); @include opacity(1); }
}

@include keyframes(navigation) {
  0%      { @include translateY(-100px); @include opacity(0); }
  90%     { @include translateY(0px); @include opacity(1); }
  100%    { @include translateY(0px); @include opacity(1); }
}

@include keyframes(slogan) {
  0%      { -webkit-transform: translateX(-50%) translateY(50%); transform: translateX(-50%) translateY(50%); @include opacity(0); }
  80%     { -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%); @include opacity(1); }
  100%    { -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%); @include opacity(1); }
}

@include keyframes(arrow-appereance) {
  0%      { @include translateY(250%); @include opacity(0); }
  80%     { @include translateY(250%); @include opacity(1); }
  100%    { @include translateY(0%); @include opacity(1); }
}

// .slogan {
//   @include animation(slogan 1200ms);
// }

.navigation {
  @include animation(navigation 1200ms);
}