@mixin respond-to($media) {
  @if $media == tablet {
    @media only screen and (max-width: $break-tablet) {@content; }
  }
  // @else if $media == tabletvertical {
  //   @media only screen and (max-width: $break-tablet - 1) {@content; }
  // }
  @else if $media == iphone {
    @media only screen and (max-width: $break-tablet - 1) {@content; }
  }
}

@mixin keyframes( $animationName ) {
  @-webkit-keyframes $animationName {
    @content;
  }
  @-moz-keyframes $animationName {
    @content;
  }
  @-o-keyframes $animationName {
    @content;
  }
  @keyframes $animationName {
    @content;
  }
  @-ms-keyframes  $animationName {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  animation: #{$str};
}

@include keyframes(arrow) {
  0%      { @include translateY(0px); @include opacity(1); }
  50%     { @include translateY(10px); @include opacity(.5); }
  100%    { @include translateY(0px); @include opacity(1); }
}

@include keyframes(navigation) {
  0%      { @include translateY(-100px); @include opacity(0); }
  90%     { @include translateY(0px); @include opacity(1); }
  100%    { @include translateY(0px); @include opacity(1); }
}

//preloader
@include keyframes(preloader-top) {
  0%      { @include translateY(52px); }
  90%     { @include translateY(0px); }
  100%    { @include translateY(0px); }
}

@include keyframes(preloader-bottom) {
  0%      { @include translateY(-52px); }
  90%     { @include translateY(0px); }
  100%    { @include translateY(0px); }
}

@include keyframes(preloader-seventh) {
  0%      { -webkit-transform: rotate(70deg) translateX(0px) translateY(-94px); transform: rotate(70deg) translateX(0px) translateY(-94px); }
  90%     { -webkit-transform: rotate(70deg) translateX(0px) translateY(-24px); transform: rotate(70deg) translateX(0px) translateY(-24px); }
  100%    { -webkit-transform: rotate(70deg) translateX(0px) translateY(-24px); transform: rotate(70deg) translateX(0px) translateY(-24px); }
}

@include keyframes(preloader-eight) {
  0%      { -webkit-transform: rotate(90deg) translateX(0px) translateY(-94px); transform: rotate(90deg) translateX(0px) translateY(-94px); }
  90%     { -webkit-transform: rotate(90deg) translateX(0px) translateY(-24px); transform: rotate(90deg) translateX(0px) translateY(-24px); }
  100%    { -webkit-transform: rotate(90deg) translateX(0px) translateY(-24px); transform: rotate(90deg) translateX(0px) translateY(-24px); }
}

@include keyframes(preloader-ninth) {
  0%      { -webkit-transform: rotate(110deg) translateX(0px) translateY(94px); transform: rotate(110deg) translateX(0px) translateY(94px); }
  90%     { -webkit-transform: rotate(110deg) translateX(0px) translateY(-24px); transform: rotate(110deg) translateX(0px) translateY(-24px); }
  100%    { -webkit-transform: rotate(110deg) translateX(0px) translateY(-24px); transform: rotate(110deg) translateX(0px) translateY(-24px); }
}


//arrow
@include keyframes(arrow-appereance) {
  0%      { @include translateY(250%); @include opacity(0); }
  80%     { @include translateY(250%); @include opacity(1); }
  100%    { @include translateY(0%); @include opacity(1); }
}


noindex:-o-prefocus, .navigation { /* remove animation just for Opera */
  animation: none;
}

//typed animation
@include keyframes(blink) {
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}