/* -------------------------- */
/* Push */
/* -------------------------- */
.intro-effect-push:not(.notrans) .intro,
.intro-effect-push:not(.notrans) > .workshopList,
.intro-effect-push:not(.notrans) .workshopWrapper > div {
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}

.intro-effect-push:not(.notrans) .intro {
  -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  -webkit-transition-duration: 1.2s;
  transition-duration: 1.2s;
}

.intro-effect-push .codrops-demos a {
  color: #108576;
}

.intro-effect-push .intro {
  position: absolute;
  z-index: 1500;
}

.intro-effect-push > .workshopList {
  position: relative;
  top: auto;
  left: auto;
  // padding: 6em 1em 2em;
}

// .intro-effect-push .workshopWrapper > div {
//   margin-top: 50px;
//   color: #b2b2c0;
// }

.intro-effect-push > .workshopList,
.intro-effect-push .workshopWrapper > div {
  -webkit-transform: translateY(400px);
  transform: translateY(400px);
  opacity: 0;
}

.intro-effect-push.modify > .workshopList,
.intro-effect-push.modify .workshopWrapper > div {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.intro-effect-push.modify .intro {
  opacity: 0;
  -webkit-transform: translateY(-100%) scale(0.9);
  transform: translateY(-100%) scale(0.9);
}

/* Delays */
.intro-effect-push.modify:not(.notrans) > .workshopList {
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.intro-effect-push.modify:not(.notrans) .workshopWrapper > div {
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}